<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>

<body>

    <form id="app">

        <input type="file" id="input" v-on:change="handleFiles">

<textarea id="data" >

2017/10/14 * Rexall
  Expenses:Bills:Electricity  $54.40
  Expenses:Clothing  $85.39
  Expenses:Bills:Electricity  $45.57
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Bills:Electricity  $25.15
  Expenses:Entertainment  $39.08
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Bills:Electricity  $66.13
  Expenses:Clothing  $70.89
  Expenses:Grocery  $95.22
  Expenses:Entertainment  $89.46
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Clothing  $36.25
  Expenses:Clothing  $26.70
  Expenses:Bills:Electricity  $44.43
  Expenses:Grocery  $51.88
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Entertainment  $58.92
  Expenses:Entertainment  $35.50
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Grocery  $62.50
  Expenses:Clothing  $51.77
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Clothing  $97.52
  Expenses:Entertainment  $33.72
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Bills:Electricity  $80.51
  Expenses:Entertainment  $11.03
  Expenses:Entertainment  $46.98
  Expenses:Entertainment  $10.93
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Car:Gasoline  $63.86
  Expenses:Bills:Electricity  $76.54
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Clothing  $82.36
  Expenses:Grocery  $49.00
  Expenses:Bills:Electricity  $85.30
  Assets:Bank:Checking

2017/10/14 * Starbucks
  Expenses:Grocery  $91.50
  Expenses:Entertainment  $77.35
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Grocery  $33.29
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Bills:Electricity  $74.29
  Expenses:Car:Gasoline  $12.82
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $81.99
  Expenses:Grocery  $63.28
  Expenses:Car:Gasoline  $91.73
  Expenses:Entertainment  $86.78
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Grocery  $88.45
  Expenses:Clothing  $23.68
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Clothing  $28.04
  Expenses:Car:Gasoline  $28.78
  Expenses:Clothing  $69.86
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Entertainment  $68.64
  Expenses:Car:Gasoline  $61.38
  Expenses:Entertainment  $57.50
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Entertainment  $59.88
  Expenses:Entertainment  $83.10
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Grocery  $56.08
  Expenses:Bills:Electricity  $18.72
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Entertainment  $67.86
  Expenses:Bills:Electricity  $97.30
  Expenses:Bills:Electricity  $95.19
  Expenses:Bills:Electricity  $68.66
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Entertainment  $54.33
  Expenses:Clothing  $22.53
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Car:Gasoline  $96.55
  Expenses:Bills:Electricity  $59.49
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Bills:Electricity  $24.36
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Car:Gasoline  $64.82
  Expenses:Clothing  $78.71
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Clothing  $24.44
  Expenses:Bills:Electricity  $25.94
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $97.47
  Expenses:Entertainment  $98.85
  Expenses:Entertainment  $96.16
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Bills:Electricity  $53.05
  Expenses:Grocery  $86.98
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Grocery  $55.05
  Expenses:Bills:Electricity  $83.23
  Expenses:Clothing  $65.35
  Expenses:Grocery  $61.04
  Expenses:Bills:Electricity  $86.63
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Entertainment  $12.69
  Expenses:Grocery  $82.55
  Expenses:Entertainment  $35.43
  Expenses:Grocery  $88.67
  Expenses:Clothing  $61.19
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Clothing  $10.81
  Expenses:Clothing  $62.06
  Expenses:Clothing  $23.57
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Clothing  $42.53
  Expenses:Entertainment  $87.45
  Expenses:Car:Gasoline  $19.74
  Expenses:Entertainment  $48.87
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Bills:Electricity  $97.81
  Expenses:Grocery  $39.40
  Expenses:Clothing  $18.01
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Entertainment  $87.92
  Expenses:Grocery  $91.91
  Expenses:Entertainment  $32.82
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Bills:Electricity  $80.00
  Expenses:Clothing  $51.43
  Expenses:Clothing  $24.72
  Expenses:Clothing  $88.54
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Grocery  $79.78
  Expenses:Car:Gasoline  $70.45
  Expenses:Clothing  $21.64
  Expenses:Bills:Electricity  $53.95
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $70.32
  Expenses:Clothing  $71.57
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Clothing  $90.24
  Expenses:Bills:Electricity  $94.09
  Expenses:Clothing  $99.85
  Expenses:Car:Gasoline  $33.82
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Entertainment  $62.44
  Expenses:Bills:Electricity  $37.30
  Expenses:Entertainment  $94.49
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Grocery  $13.09
  Expenses:Clothing  $20.24
  Expenses:Bills:Electricity  $16.32
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Bills:Electricity  $98.75
  Expenses:Entertainment  $17.13
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $51.21
  Expenses:Car:Gasoline  $68.43
  Expenses:Bills:Electricity  $75.45
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Bills:Electricity  $38.20
  Expenses:Bills:Electricity  $21.18
  Assets:Bank:Checking

2017/10/14 * Starbucks
  Expenses:Bills:Electricity  $14.75
  Expenses:Bills:Electricity  $87.99
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $85.79
  Expenses:Bills:Electricity  $86.90
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Bills:Electricity  $46.40
  Expenses:Entertainment  $36.37
  Expenses:Entertainment  $86.65
  Expenses:Clothing  $79.03
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Car:Gasoline  $38.74
  Expenses:Bills:Electricity  $64.52
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Bills:Electricity  $46.04
  Expenses:Clothing  $66.88
  Expenses:Car:Gasoline  $64.98
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Clothing  $70.47
  Expenses:Entertainment  $57.42
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Clothing  $52.99
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Entertainment  $11.53
  Expenses:Grocery  $86.36
  Expenses:Bills:Electricity  $26.30
  Expenses:Entertainment  $14.84
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Grocery  $44.92
  Expenses:Bills:Electricity  $44.77
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Clothing  $77.12
  Expenses:Clothing  $34.41
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Bills:Electricity  $57.50
  Expenses:Clothing  $18.91
  Expenses:Grocery  $16.55
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Grocery  $35.19
  Expenses:Clothing  $88.68
  Expenses:Car:Gasoline  $38.75
  Expenses:Bills:Electricity  $33.60
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Bills:Electricity  $17.40
  Expenses:Clothing  $38.38
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Clothing  $73.47
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Entertainment  $51.98
  Expenses:Clothing  $98.83
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Bills:Electricity  $78.18
  Expenses:Entertainment  $36.11
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Clothing  $71.88
  Expenses:Clothing  $83.31
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Grocery  $11.27
  Expenses:Clothing  $90.44
  Assets:Bank:Checking

2017/10/14 * Starbucks
  Expenses:Clothing  $65.76
  Expenses:Car:Gasoline  $75.19
  Expenses:Bills:Electricity  $99.96
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Bills:Electricity  $88.86
  Assets:Bank:Checking

2017/10/14 * Starbucks
  Expenses:Bills:Electricity  $12.19
  Expenses:Car:Gasoline  $75.47
  Expenses:Bills:Electricity  $76.05
  Expenses:Entertainment  $63.43
  Assets:Bank:Checking

2017/10/14 * PartyCity
  Expenses:Bills:Electricity  $76.10
  Expenses:Clothing  $50.15
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Clothing  $63.07
  Expenses:Bills:Electricity  $82.72
  Expenses:Bills:Electricity  $15.43
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $84.57
  Expenses:Bills:Electricity  $42.69
  Expenses:Clothing  $98.49
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Clothing  $84.61
  Expenses:Entertainment  $94.67
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Bills:Electricity  $73.66
  Expenses:Entertainment  $12.97
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Entertainment  $43.10
  Expenses:Entertainment  $79.25
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Bills:Electricity  $69.15
  Expenses:Grocery  $84.97
  Expenses:Clothing  $67.19
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Bills:Electricity  $62.65
  Expenses:Clothing  $46.30
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $60.93
  Expenses:Entertainment  $19.78
  Assets:Bank:Checking

2017/10/14 * Starbucks
  Expenses:Clothing  $48.32
  Expenses:Clothing  $44.66
  Assets:Bank:Checking

2017/10/14 * PartyCity
  Expenses:Entertainment  $79.61
  Expenses:Clothing  $27.53
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Car:Gasoline  $15.47
  Expenses:Entertainment  $54.13
  Expenses:Entertainment  $15.73
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Bills:Electricity  $56.82
  Expenses:Grocery  $34.71
  Expenses:Grocery  $41.70
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Car:Gasoline  $95.71
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Entertainment  $96.53
  Expenses:Entertainment  $20.87
  Expenses:Bills:Electricity  $71.55
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Entertainment  $23.45
  Expenses:Grocery  $62.22
  Assets:Bank:Checking

2017/10/14 * Starbucks
  Expenses:Bills:Electricity  $79.01
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Car:Gasoline  $88.02
  Expenses:Entertainment  $44.34
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Entertainment  $79.55
  Expenses:Bills:Electricity  $22.06
  Expenses:Entertainment  $75.28
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Clothing  $71.47
  Expenses:Entertainment  $54.66
  Expenses:Bills:Electricity  $96.31
  Assets:Bank:Checking

2017/10/14 * Putting Edge
  Expenses:Car:Gasoline  $97.76
  Expenses:Clothing  $30.37
  Assets:Bank:Checking

2017/10/14 * PartyCity
  Expenses:Bills:Electricity  $16.73
  Expenses:Clothing  $56.73
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Bills:Electricity  $77.96
  Expenses:Entertainment  $76.76
  Assets:Bank:Checking

2017/10/14 * T&T
  Expenses:Car:Gasoline  $39.40
  Expenses:Car:Gasoline  $45.38
  Expenses:Entertainment  $36.91
  Expenses:Entertainment  $16.66
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Clothing  $13.77
  Assets:Bank:Checking

2017/10/14 * Loblaws
  Expenses:Bills:Electricity  $93.37
  Expenses:Clothing  $87.37
  Expenses:Grocery  $57.83
  Expenses:Bills:Electricity  $97.28
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Bills:Electricity  $68.05
  Expenses:Grocery  $21.21
  Expenses:Bills:Electricity  $50.32
  Expenses:Entertainment  $17.41
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Bills:Electricity  $88.18
  Expenses:Grocery  $19.26
  Assets:Bank:Checking

2017/10/14 * Rexall
  Expenses:Bills:Electricity  $12.02
  Expenses:Bills:Electricity  $35.54
  Expenses:Entertainment  $57.29
  Assets:Bank:Checking

2017/10/14 * Tim Hortons
  Expenses:Car:Gasoline  $58.31
  Assets:Bank:Checking

2017/10/14 * Laser Quest
  Expenses:Entertainment  $67.60
  Expenses:Bills:Electricity  $21.82
  Expenses:Grocery  $16.54
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Bills:Electricity  $90.27
  Expenses:Clothing  $65.11
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Bills:Electricity  $22.49
  Assets:Bank:Checking

2017/10/14 * Dominion
  Expenses:Grocery  $93.80
  Expenses:Clothing  $92.51
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Entertainment  $39.12
  Expenses:Bills:Electricity  $28.94
  Expenses:Car:Gasoline  $24.67
  Assets:Bank:Checking

2017/10/14 * PartyCity
  Expenses:Entertainment  $40.58
  Expenses:Car:Gasoline  $20.60
  Assets:Bank:Checking

2017/10/14 * Sobeys
  Expenses:Entertainment  $87.68
  Expenses:Grocery  $98.47
  Expenses:Clothing  $14.63
  Assets:Bank:Checking
</textarea>

        <textarea id="balance">
        </textarea>

        <table>
            <tr><td>
                <account-filter v-model="filter" @input="calculateBalance"></account-filter>
            </td></tr>
            <tr><td>
                <accounts v-bind:accounts="accountTreeProp()"> </accounts>
            </td></tr>
        </table>
    </form>


    <script id="account-filter-template" type="text/template">
      <div>
        <label>Account filter: </label>
        <input type="text" @change="updateValue" v-model="value"/>
      </div>
    </script>
    <script id="accounts-template" type="text/template">
        <ul>
            <li v-for="(value, key) in level()" >
                {{ accountDisplay(value) }}
                <div v-if="value.accounts != null && Object.keys(value.accounts).length > 0">
                    <accounts v-bind:accounts="value.accounts"> </accounts>
                </div>
            </li>
        </ul>
    </script>

    <script src="_js/bundle.js"></script>
</body>
</html>